<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<div class="container-lg mx-auto">
  <button mat-raised-button class="btn btn-primary float-end mt-1 mb-3" color="primary" (click)="addUser()" style="margin-right: 50px; box-shadow: -8px 8px 12px rgba(22, 22, 22, 10);">
    <mat-icon>add_user</mat-icon>
    Agregar Usuario
  </button>
  <h1>USUARIOS</h1>
  <div id="letra">
    <div
      class="list-group-item list-group-item-dark"
      *ngFor="let user of listadoUsers"
      style="box-shadow: -8px 8px 12px rgba(22, 22, 22, 10);; margin-bottom: 20px; border-radius: 20px; padding: 20px;"
    >
      <div class="row">
        <div class="col-md-5">
          <div class="ms-2">
            <div class="fw-bold" style="font-size: 36px">
              {{ user.nombre_publico }}
            </div>
            <span>ID Usuario: {{ user.id_usuario }}</span><br />
            <span>Nombre de Usuario: {{ user.usuario }}</span><br />
            <span>Rol: {{ user.id_rol === 1 ? 'Administrador' : user.id_rol === 2 ? 'Usuario' : 'Otro' }}</span><br />
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <div class="text-center">
            <!-- <button mat-flat-button class="btn btn-primary mt-2">
              <mat-icon>movie</mat-icon>
              Ver Peliculas Favoritas
            </button> -->
          </div>
        </div>

        <div class="col-md-3 d-flex justify-content-end align-items-center">
          <div class="d-flex flex-column">
            <button mat-icon-button color="primary" style="margin-bottom: 10px;" (click)="editUser(user)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteUser(user)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
