<div class="container">
  <h3 mat-dialog-title>Agregar nuevo Usuario</h3>

  <form class="mat-dialog-content" [formGroup]="addUserForm">
    <div class="form">
      <mat-form-field class="custom-mat-form-field" color="accent">
        <input matInput placeholder="Correo electrónico" formControlName="email" maxlength="255" required>
        <mat-error *ngIf="addUserForm.get('email')?.hasError('required')">El campo Correo electrónico es obligatorio</mat-error>
        <mat-error *ngIf="addUserForm.get('email')?.hasError('email')">Ingrese un correo electrónico válido</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="custom-mat-form-field" color="accent">
        <input matInput placeholder="Nombre" formControlName="name" maxlength="255" required>
        <mat-error *ngIf="addUserForm.get('name')?.hasError('required')">El campo Nombre es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="custom-mat-form-field" color="accent">
        <input matInput placeholder="Apellido" formControlName="apellido" maxlength="255" required>
        <mat-error *ngIf="addUserForm.get('apellido')?.hasError('required')">El campo Apellido es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="custom-mat-form-field" color="accent">
        <input matInput placeholder="Contraseña" formControlName="password" type="password" maxlength="100" required>
        <mat-error *ngIf="addUserForm.get('password')?.hasError('required')">El campo Contraseña es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="buttons">
      <button mat-raised-button color="primary" id="onSubmit" type="submit" [disabled]="!addUserForm.valid" (click)="confirmAdd()">Guardar</button>
      <button mat-flat-button color="primary" id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>


      <!-- <div class="form">
        <mat-form-field class="custom-mat-form-field" color="accent">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="id_rol" required>
            <mat-option value="1">ADMIN</mat-option>
            <mat-option value="2">USER</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('rol')?.hasError('required')">Seleccione un Rol</mat-error>
        </mat-form-field>
      </div> -->
