<!-- <div class="movie-container">
  <div class="movie-card" *ngFor="let item of listado" class="movie-card" [routerLink]="['/movies/', item.id]">
    <mat-card class="movie-card-inner">
      <span>{{ item.name }}</span>
      <div class="card-image">
        <img [src]="{{( item.images )}}" alt="{{ item.title }} Poster">
      </div>
    </mat-card>
  </div>
</div> -->

<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<div class="container">
  <div class="card" *ngFor="let item of listado" (click)="verDetalle(item.resource_url)">
    <mat-card class="card-inner">
      <span class="card-title">{{ item.title }}</span>
      <div class="card-image">
        <img [src]="(item.cover_image || item.thumb) | defaultImage" [alt]="item.name + ' Image'">
      </div>
    </mat-card>
  </div>
</div>

