<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<div class="container">
  <div class="card" *ngFor="let item of listado" (click)="verDetalle(item.id, item.resource_url, item.type ? item.type : item.tipoElemento)">
    <mat-card class="card-inner">
      <span class="card-title">{{ item.title || item.name }}</span>
      <div class="card-image">
        <img [src]="getImageUrl(item)" [alt]="item.name + ' Image'">
      </div>
    </mat-card>
  </div>
</div>
