<!-- <div class="movie-container">
  <div class="movie-card" *ngFor="let item of listado" class="movie-card" [routerLink]="['/movies/', item.id]">
    <mat-card class="movie-card-inner">
      <span>{{ item.name }}</span>
      <div class="card-image">
        <img [src]="{{( item.images )}}" alt="{{ item.title }} Poster"> 
      </div>
    </mat-card>
  </div>
</div> -->

<div class="container">
  <div class="card" *ngFor="let item of listado" [routerLink]="['/movies/', item.id]">
    <mat-card class="card-inner">
      <span>{{ item.name }}</span>
      <div class="card-image">
        <img [src]="item.imageUrl" [alt]="item.name + ' Image'">
        <!-- <img [src]="item.image[0]['#text']" [alt]="item.name + ' Image'"> -->            
      </div>
    </mat-card>
  </div>
</div>
