@font-face {
  font-family: 'Nexa-Heavy';
  src: url('../../assets/fonts/Nexa-Heavy.ttf') format('truetype');
}

.toolbar {
  display: flex;
  align-items: center;
}

.centered {
  flex-grow: 1;
  text-align: center;
}

.flex-grow {
  flex-grow: 1;
}

.highlighted {
  color: #ffffff;
  background-color: #49286e;
  padding: 8px 20px;
  border-radius: 4px;
}

.favicon {
  vertical-align: middle;
  font-family: 'Nexa-Heavy', sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-left: 20px;
}

.favicon .icon-container {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.favicon .icon-container svg {
  margin-left: 10px;
  margin-bottom: 5px;
}

.footer {
  background-color: #a9aaab56;
  position: fixed;
  width: 100%;
  height: 20px;
  bottom: 0;
  text-align: center;
  font-size: small;
  text-shadow: 1px 1px black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  z-index: 9999;
}

.footer.show {
  display: block;
}

.contenedor {
  margin-top: 80px;
  width: 94%;
  max-width: none;
  max-height: none;
  overflow-x: hidden;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

