<div class="favorite-container">
  <div class="favorites-section">
    <h2>Artistas Favoritos</h2>
    <div class="horizontal-scroll">
      <list-page [listado]="artists"></list-page>
    </div>
  </div>

  <div class="favorites-section">
    <h2>Releases Favoritos</h2>
    <div class="horizontal-scroll">
      <list-page [listado]="releases"></list-page>
    </div>
  </div>

  <div class="favorites-section">
    <h2>Masters Favoritos</h2>
    <div class="horizontal-scroll">
      <list-page [listado]="masters"></list-page>
    </div>
  </div>
</div>
