.favorite-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.favorite-container h1 {
  margin-top: 35px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  text-align: center;
}

.favorites-section {
  margin: 20px 0;
}

.no-favorites-text {
  text-align: center;
  font-size: 20px;
  color: #666;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}
