<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<div class="favorite-container">
  <h1>COLECCIÓN DE FAVORITOS DE <i>{{ userName }}</i></h1>

  <mat-tab-group>
    <mat-tab label="Artistas">
      <div class="favorites-section">
        <ng-container *ngIf="listadoArtists.length > 0; else noFavoritesArtists">
          <list-page [listado]="listadoArtists"></list-page>
        </ng-container>
        <ng-template #noFavoritesArtists>
          <p class="no-favorites-text">Aún no hay artistas favoritos.</p>
        </ng-template>
      </div>
    </mat-tab>
    <mat-tab label="Canciones & Álbums">
      <div class="favorites-section">
        <ng-container *ngIf="listadoReleases.length > 0; else noFavoritesReleases">
          <list-page [listado]="listadoReleases"></list-page>
        </ng-container>
        <ng-template #noFavoritesReleases>
          <p class="no-favorites-text">Aún no hay canciones/álbums favoritos.</p>
        </ng-template>
      </div>
      <div class="favorites-section">
        <ng-container *ngIf="listadoMasters.length > 0;">
          <list-page [listado]="listadoMasters"></list-page>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<br>
<br>
<br>
