<div class="favorite-container">
  <h1>LISTADOS DE FAVORITOS</h1>

  <div class="favorites-section">
    <h2>Artistas</h2>
    <div class="horizontal-scroll">
      <list-page [listado]="listadoArtists"></list-page>
    </div>
  </div>

  <div class="favorites-section">
    <h2>Releases</h2>
    <div class="horizontal-scroll">
      <list-page [listado]="listadoReleases"></list-page>
    </div>
  </div>

  <div class="favorites-section">
    <h2>Masters</h2>
    <div class="horizontal-scroll">
      <list-page [listado]="listadoMasters"></list-page>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
