.favorite-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  margin-top: 35px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  text-align: center;
}

h2 {
  font-family: 'Poppins';
  font-size: 50px;
}

.favorites-section {
  margin: 20px 0;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar en navegadores webkit */
}

.list-page .card {
  min-width: 200px; /* Ajusta este valor según tus necesidades */
  margin-right: 15px; /* Espacio entre cards */
}
