h1 {
  margin-top: 50px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  text-align: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.loading-text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #666;
  margin-top: 20px;
  text-align: center;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.user-card-wrapper {
  margin-top: 10px;
  animation: marquee 20s linear infinite;
}

.slider-container {
  width: 90%;
  height: 160px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.user-list {
  display: flex;
  gap: 16px;
  white-space: nowrap;
  overflow: hidden;
  height: 200px;
}

.user-card {
  /* border: 2px solid #ddd; */
  background-color: rgba(220, 45, 170, 0.036);
  border-radius: 8px;
  padding: 10px;
  flex: 0 0 auto;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.441);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  position: relative;
  height: 140px;
  cursor: pointer;
}

.user-card:hover {
  background-color: rgba(215, 176, 204, 0.357);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
}

.user-list::before,
.user-list::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px; /* Ancho del degradado */
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.279), rgba(39, 39, 39, 0.031));
  pointer-events: none; /* Evitar interacción del usuario */
  z-index: 9999;
}

.user-list::before {
  left: 0;
}

.user-list::after {
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.279), rgba(39, 39, 39, 0.031));
}


.user-email {
  font-weight: bold;
  margin-bottom: 8px;
}

.user-name {
  margin-bottom: auto;
}

.user-button {
  font-size: small;
  position: absolute;
  bottom: 16px;
}
