<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<div class="row">
  <div *ngIf="!discogsService.listadoAlbums" class="loading-container">
    <div class="spinner"></div>
    <p class="loading-text">Cargando...</p>
  </div>

  <h1>ÚLTIMOS
    RELEASES</h1>
  <div class="col-12 d-flex justify-content-center">
    <list-page [listado]="discogsService.listadoAlbums"></list-page>
  </div>
</div>

<div class="row">&nbsp;</div>

<!-- Botón para cargar más resultados -->
<div class="row justify-content-center">
  <button mat-stroked-button color="primary" (click)="searchTrending()" style="width: auto;">Cargar más
    resultados</button>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
