<head>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<div class="row">
  <h1 style="margin-top: 35px; font-family: 'Bebas Neue', sans-serif; font-size: 80px; text-align: center;">ÚLTIMOS RELEASES</h1>
  <div class="col-12 d-flex justify-content-center">
    <list-page [listado]="discogsService.listadoAlbums"></list-page>
  </div>
</div>

<div class="row">&nbsp;</div>

<!-- Botón para cargar más resultados -->
<div class="row justify-content-center">
  <button mat-stroked-button color="primary" (click)="searchTrending()" style="width: auto;">Cargar más resultados</button>
</div>

<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
