.chip-group a {
  color: antiquewhite;
}

.movie-details-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin: 0 auto;
}

.movie-background-image {
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
  /* opacity: 0.3; Ajusta la opacidad de la imagen de fondo */
  z-index: -1; /* Asegura que la imagen de fondo esté detrás de otros elementos */
  overflow: hidden;
  mask-image: linear-gradient(to top, transparent 1%, rgb(35, 35, 35)); /* Máscara para difuminar la parte inferior */
}

.movie-content {
  width: 90%;
  position: relative;
  z-index: 1; /* Asegura que el contenido esté delante de la imagen de fondo */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  box-sizing: border-box;
  height: 100%;
}

.movie-poster {
  margin-left: 80px;
  width: auto;
  height: 100%;
  max-height: 85%; /* Ajusta el tamaño máximo de la imagen de la película */
  object-fit: contain; /* Ajusta cómo se ajusta la imagen dentro de su contenedor */
  margin-right: 20px; /* Espacio entre la imagen de la película y la información */
  box-shadow: -12px 12px 12px rgba(12, 12, 12, 5);
}

.movie-info {
  /* max-height: 500px; */
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.movie-info button {
  margin-bottom: 10px; /* Reduce el margen inferior entre los botones */
}

.movie-info h1 {
  font-size: 70px;
  line-height: 0.9;
  font-family: 'Bebas Neue', sans-serif;
}

.chip-group {
  display: flex;
  flex-wrap: wrap; /* Permite que los chips se envuelvan si no hay suficiente espacio */
  align-items: center;
  margin-bottom: 10px; /* Ajusta el espacio entre los grupos de chips */
}

.chip-group span {
  margin-right: 2px;
}

.resultados {
  margin-left: 15px;
  line-height: 1.5;
}

.chip-item {
  margin-right: 0px; /* Ajusta el espacio entre los chips */
}

.chip-item:last-child {
  margin-right: 0; /* Elimina el margen derecho del último chip */
}

button.mat-icon-button {
  border-radius: 50%; /* Hace que el botón tenga forma de círculo */
  width: 40px; /* Establece el ancho del botón */
  height: 40px; /* Establece la altura del botón */
  min-width: 0; /* Elimina el ancho mínimo */
}

.favorite-button-raised {
  background-color: primary;
}

.favorite-button-stroked {
  background-color: transparent;
  border-color: primary;
}
