.full-height-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los elementos */
  justify-content: space-between; /* Coloca los botones en la parte inferior */
}

.card-like-content {
  flex: 1 1 auto;
  background-color: rgb(79, 79, 79);
  border-radius: 8px;
  padding: 30px;
  height: auto;
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente los elementos */
}

.name-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px; /* Ajusta el espacio entre el nombre y los botones */
}

.name {
  margin-top: 30px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 66px;
}

.editar-button, .cerrar-button {
  cursor: pointer;
  margin: 10px; /* Ajusta el espacio entre los botones */
}

.bottom-buttons {
  margin-bottom: 10px; /* Ajusta el espacio entre los botones y el borde inferior */
}

.info-section {
  margin-top: 50px;
}


/* # ESTILOS PESTAÑA 2 'Favoritos' # */
.movie-container {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Alinea las tarjetas con espacios entre ellas */

}

.movie-card {
  width: 100%; /* Ancho máximo de la tarjeta */
  margin-bottom: 25px; /* Ajusta el espacio entre las tarjetas */
}

.movie-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-info {
  padding: 20px; /* Agregar relleno interno */
  color: #e9e0e0;
}

.card-info h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: xx-large;
}

.card-image {
  width: 100%; /* Ancho completo para la imagen */
  max-height: 200px; /* Altura máxima de la imagen */
  overflow: hidden; /* Oculta cualquier desbordamiento */
}

.card-image img {
  width: 100%; /* Ancho completo para la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  object-fit: cover; /* Escalar la imagen manteniendo la relación de aspecto y recortando el exceso */
}
