<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<mat-tab-group style="height:100%;">
  <mat-tab label="Info del usuario">
    <ng-template matTabContent>
      <div class="full-height-container">
        <div class="card-like-content">
          <div class="name-container">
            <div class="name">
              {{ user.email }}
            </div>
          </div>
          <div class="info-section fs-5">
            <mat-chip color="primary">
              ID Usuario
            </mat-chip>
            {{ user.id_usuario }}
          </div>
          <div class="info-section fs-5">
            <mat-chip color="primary">
              Nombre
            </mat-chip>
            {{ user.name }}
          </div>
          <div class="info-section fs-5">
            <mat-chip color="primary">
              Apellido
            </mat-chip>
            {{ user.apellido }}
          </div>
          <div class="info-section fs-5">
            <mat-chip color="primary">
              Rol
            </mat-chip>
            {{ user.roles![0].name }}
          </div>
        </div>
        <div class="bottom-buttons">
          <button mat-flat-button color="primary" class="editar-button" (click)="editUser(user)">Editar</button>
          <button mat-raised-button color="primary" class="cerrar-button" (click)="goBack()">Cerrar</button>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
