.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  max-height: 550px; /* Altura máxima de la tarjeta */
  min-height: 300px; /* Altura mínima de la tarjeta */
}

.movie-card:hover {
  box-shadow: 4px 4px 8px 10 rgba(247, 127, 254, 0.737);
}

.card-image img {
  width: 100%;
  height: 100%; /* La imagen ocupa toda la altura de la tarjeta */
  object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
}

.card-info {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinea el contenido en la parte inferior */
  flex: 1; /* Ocupa el 25% de la altura de la tarjeta */
  padding: 15px;
  text-align: center;
  color: #e9e0e0;
}

.card-image img {
  width: 100%;
  max-height: 100%; /* La imagen ocupa toda la altura disponible */
  object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
}
