<div class="container">
  <h3 mat-dialog-title>Editar Usuario</h3>
  <form class="mat-dialog-content" [formGroup]="userForm">
    <div>
      <mat-form-field class="custom-mat-form-field" color="accent">
        <small>ID User</small>
        <input matInput placeholder="ID" formControlName="id_usuario" maxlength="255" readonly>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="custom-mat-form-field" color="accent">
        <input matInput placeholder="Correo electrónico" formControlName="usuario" maxlength="255" required>
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">El campo Correo electrónico es obligatorio</mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('email')">Ingrese un correo electrónico válido</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="custom-mat-form-field" color="accent">
        <input matInput placeholder="Nombre público" formControlName="nombre_publico" maxlength="255" required>
        <mat-error *ngIf="userForm.get('nombre_publico')?.hasError('required')">El campo Nombre público es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="custom-mat-form-field" color="accent">
        <input matInput placeholder="Contraseña" formControlName="password" type="password" maxlength="100" required>
        <mat-error *ngIf="userForm.get('pass_user')?.hasError('required')">El campo Contraseña es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="buttons">
      <!-- <button mat-raised-button color="primary" id="onSubmit" type="submit" [disabled]="!userForm.valid" (click)="confirmEdit()">Guardar</button> -->
      <button mat-flat-button color="primary" id="onNoClick" (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
