.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; Para que el contenedor ocupe toda la altura vertical */
}

mat-card {
  width: 600px; /* Tamaño del contenedor */
  height: 610px;
  text-align: center;
  vertical-align: center;
  padding: 30px;
}

.full-width-input {
  width: 100%;
  margin-bottom: 20px;
}

.container h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
}

.signin-content {
  margin-bottom: 20px;
}
